* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*NAVIGATION*/ 
nav {
    height: 50px;
    background-color: #333;
    text-align: center;
    line-height: 50px;
}

nav li {
    display: inline-block;
}
nav li a {
    padding: 0 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color .3s;
}

nav li a:hover {
    color: rgb(23, 149, 199);
}

/*HEADER*/

.header-img {
    position: relative;
    height: 260px;
    background-image: url('../img/black_beach.jpg');
    background-size: cover;
    background-position: 60% 42%;
    background-repeat: no-repeat;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px black;
}

.header-bg {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

header h1 {
    margin-bottom: 10px;
}

/*MAIN*/
main {
    width: 60%;
    margin: 50px auto;
}

main h2 {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

section {
    margin: 40px 0;
}

.top {
    position: relative;
    height: 300px;
    background-image: url('../img/coffee.jpg');
    background-attachment: fixed;
    background-position: center;
}

.middle {
    position: relative;
    height: 300px;
    background-image: url('../img/zamek-z-piasku.jpg');
    background-attachment: fixed;
    background-position: center;
}

.bottom {
    position: relative;
    height: 300px;
    background-image: url('../img/praca.jpg');
    background-attachment: fixed;
    background-position: center;
}

/*FOOTER*/
footer {
    height: 80px;
    color: rgb(179, 178, 178);
    background-color: #333;
    font-size: 18px;
    line-height: 80px;
    text-align: center;
}

.foot-ico {
    margin-left: 25px;
}

.foot-ico i {
    padding: 0 5px;
    color: rgb(179, 178, 178);
    font-size: 28px;
    transition: color .3s;
}

.foot-ico i:hover {
    color: rgb(23, 149, 199);
}